/* Encabezado */
header {
    background: #222;
    color: white;
    padding: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

/* Secciones */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}



/* Secciones Personalizados */
main #bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* recorta manteniendo proporción */
    z-index: -1;       /* detrás del contenido */
}

/* Pie de página */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}

